.popup {
    position: fixed;
    left: 30%;
    top: 400px;
    z-index: 100000000;
    width: 800px;
    height: 150px;
    border: 1px solid #000000;
    background-color: #f0f0f0;
    box-shadow: 10px 10px 5px #888888;
}
