@import url(https://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic);
@font-face {
  font-family: 'georges';
  src: url('fonts/Georges.ttf');
}

@font-face {
  font-family: 'PermanentMarker';
  src: url('fonts/PermanentMarker.ttf');
}

/* Reset */
ul,blockquote, p {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  font-family: 'Karla';
  background: url(images/point-bkgd.png);
}

body {
  margin: 0;
}

main{
  height: 1000px;
}

header > h1 {
  position: fixed;
  padding: 5px 20px 10px;
  margin: 0 20px;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  z-index: 1;
}

header > h1 a {
  font-family: 'PermanentMarker';
  color: #222;
  font-size: 22px;
}

header > h1 a:hover {
  color: #FFD642;
}

nav {
  z-index: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 15px 5px;
}

nav ul li a {
  position: relative;
  display: inline-block;
  margin: 0 8px;
  font-size: 15px;
  color: #222;
}

article {
  position: absolute;
  width: 200px;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  /*border-radius: 0 0 15px 0;*/
}

/*article:before {
  content: '';
  width: 18px;
  height: 18px;
  background: rgba(0,0,0, 0.2);
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0 0 15px 0;
}*/

article blockquote, article p {
  font-family: 'georges';
}

article blockquote {
  text-align: center;
  margin-bottom: 40px;
  font-size: 27px;
}

article p {
  text-align: right;
  font-size: 22px;
  margin-bottom: 10px;
}

/* === FORM ===*/
form {
  padding: 10px;
}

label, select {
  font-family: 'Karla';
  font-size: 15px;
  color: #222;
}

textarea,label {
  display: block;
}

textarea {
  margin-top: 5px;
  border-color: #bbb;
  width: 100%;
  box-sizing: border-box;
}

label {
  margin-bottom: 20px;
}

select {
  background: none;
  padding: 5px;
  border: 1px solid #bbb;
}

select:focus, textarea:focus {
  outline:none;
}

input[type="submit"] {
  padding: 5px 10px;
  border: none;
  background: #56D8C3;
  cursor: pointer;
}