@import url(https://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic);
@font-face {
  font-family: 'georges';
  src: url('fonts/Georges.ttf');
}

@font-face {
  font-family: 'PermanentMarker';
  src: url('fonts/PermanentMarker.ttf');
}

/* Reset */
ul, p {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 3px;
  padding: 3px;
}

ul li {
  list-style: none;
}

h2 {
  font-weight: 400;
}

h3 {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

html {
  background: url(images/point-bkgd.png);
  font-family: 'Karla';
}

body {
  margin: 0;
}

/* Header */
header{
  position: absolute;
  top: 0;
}

header > h1 {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 0 20px;
  padding: 5px 20px 10px;
  position: fixed;
  z-index: 1;
}

header > h1 a {
  color: #222;
  font-family: 'PermanentMarker';
  font-size: 22px;
}

header > h1 a:hover {
  color: #FFD642;
}

nav {
  left: 200px;
  position: fixed;
  width: 1650px;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  padding: 16px 5px;
}

nav ul li#last_li {
  float: right;
  border: 1px solid #848484;
  border-radius: 2px;
  padding: 11px 5px 11px;
  margin: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.05);
}

nav ul li a {
  color: #222;
  font-size: 15px;
  margin: 0 8px;
}

nav ul li:hover a {
  color:#5C5C5C;
}

section#tips {
  position: fixed;
  top: 0;
  right: 500px;
  width: 250px;
  font-size: 14px;
}

/* main */
main .wall {
  border: 1px #5C5C5C solid;
  height: 3000px;
  left: 65px;
  position: relative;
  top: 65px;
  transform-origin: top left;
  transform: scale(0.3);
  width: 6000px;
}

main #meeting {
  transform: scale(0.35);
  height: 2600px;
  width: 5200px;
}

/*post-it style*/
article {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  padding: 15px;
  position: absolute;
  width: 230px;
}

article.label {
  width: 300px;
}

article blockquote, article p {
  font-family: 'georges';
}

article blockquote {
  font-size: 26px;
  margin-bottom: 40px;
  text-align: center;
}

article.label blockquote {
  font-family: 'Karla';
  font-size: 28px;
}

article p {
  font-size: 22px;
  text-align: right;
}

article a.edit-post, article a.delete {
  bottom: 15px;
  font-size: 0;
  position: absolute;
}

article:hover a.edit-post:before {
  content: url(images/edit.png);
}

article a.delete {
  left: 40px;
}

article:hover a.delete:before {
  content: url(images/delete.png);
}

article#not_allowed {
  position: fixed;
  top: 100px;
  left: 200px;
  width: 600px;
  background-color: #ffffff;
  font-size: 18px;
}

article#not_allowed img {
  width: 250px;
  float: right;
}

/* other pages style */
section.content {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 60px auto;
  max-width: 70%;
  padding: 20px;
  text-align: center;
}

section.content.profile {
  text-align: left;
}

/* profil */
section.profile form label {
  display: initial;
}

.my-post-it {
  background: #FBFBFB;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  box-sizing: border-box;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 20px;
  padding: 15px;
  vertical-align: top;
  width: 31.5%;
}

.some-post-it {
  background: #FBFBFB;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  box-sizing: border-box;
  display: inline-block;
  margin: 1%;
  padding: 5px;
  vertical-align: top;
  width: 31.5%;
}

.my-post-it:nth-child(3n+2) {
  margin-right: 0;
}

/* === FORM ===*/


label, select {
  color: #222;
  font-family: 'Karla';
  font-size: 15px;
}

textarea,label {
  display: block;
}

textarea {
  border-color: #bbb;
  box-sizing: border-box;
  margin-top: 5px;
  width: 100%;
}

label {
  margin-bottom: 20px;
}

select {
  background: none;
  border: 1px solid #bbb;
  padding: 5px;
}

select:focus, textarea:focus {
  outline: none;
}

input[type="submit"] {
  background: #56D8C3;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 15px;
}

input[type="color"] {
  background: none;
  border: none;
  height: 35px;
  vertical-align: middle;
  width: 35px;
}
