{% extends "layout.html" %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            $('article').draggable({
                cursor: 'move',
                containment : 'main',
                grid : [10 , 10]
            });
            $('main').droppable({
                drop: function(event, ui){
                    var x = parseInt( ui.offset.left );
                    var y = parseInt( ui.offset.top );
                    var id = ui.helper.data( 'postitId' );
                    $.post( '/save_position', { x: x, y: y, post_id: id });
                }
            });
        });
    </script>
{% endblock %}

{% block main %}
    {% for postit in postits %}
        <article data-postit-id="{{ postit.post_id }}" style=" background-color:{{ postit.color }}; left:{{ postit.x }}px; top:{{ postit.y }}px">
            <h2>De {{ postit.owner }} le {{ postit.date }}</h2>
            <blockquote>{{ postit.text|safe }}</blockquote>
        </article>
    {% else %}
        <article>Pas de post-it(s)!</article>
    {% endfor %}
{% endblock %}
