{% extends "layout.html" %}

{% block script %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block main %}
    {% for postit in postits %}
        <article data-postit-id="{{ postit.post_id }}" style="background-color:{{ postit.color }}; left:{{ postit.x }}px; top:{{ postit.y }}px">
            <blockquote>{{ postit.text|safe }}</blockquote>
            <p>-{{ postit.owner }}</p>
            <a class="popup-link" id="edit-post" href="{{ url_for('modify', post_id=postit.post_id) }}">Modifier</a>
        </article>
    {% else %}
        <article>Pas de post-it(s)!</article>
    {% endfor %}
{% endblock %}
