{% extends "layout.html" %}

{% block script %}
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block main %}
  <div class="wall">
    {% for postit in postits %}
      <article class="classic" data-postit-id="{{ postit.post_id }}" style="background-color:{{ postit.color }}; left:{{ postit.x }}px; top:{{ postit.y }}px">
        <blockquote>{{ postit.text|safe }}</blockquote>
        <p>-{{ postit.owner }}</p>
        <a class="popup-link edit-post" href="{{ url_for('modify', post_id=postit.post_id) }}">Modifier</a>
        <a class="popup-link delete" href="{{ url_for('delete', post_id=postit.post_id) }}">Supprimer</a>
      </article>
    {% endfor %}
  </div>
{% endblock %}
