<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Wall-it</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        {% block script %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('display_wall') }}">Accueil</a>
                    <li><a href="{{ url_for('display_stats') }}">Statistiques</a>
                    <li><a href="{{ url_for('display_config') }}">Profile</a>
                    <li><a href="{{ url_for('add_post_it') }}">Ajouter post-it</a>
                    <li><a href="{{ url_for('modify') }}">Modifier un post-it</a>
                </ul>
            </nav>
            <h1>{{ title }}</h1>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
        </footer>
    </body>
</html>
