<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Wall-it</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='popup.css') }}">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        {% block script %}{% endblock %}
        <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('display_wall') }}">Wall-it</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('display_stats') }}">Statistiques</a>
                    <li><a href="{{ url_for('display_config') }}">Profil</a>
                    <li><a class="popup-link" href="{{ url_for('add_post_it') }}">Ajouter post-it</a>
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
        </footer>
    </body>
</html>
