{% extends "layout.html" %}

{% block script %}
    <script>
        $(function() {
            $( "section" ).accordion();
        });
      </script>
{% endblock %}

{% block main %}
    <section>
        {% for postit in postits%}
                <h2>N°{{postit.post_id}}: {{postit.text|truncate(50, True)}}</h2>
                <form action="{{ url_for('modify') }}" method="post">
                    <input type="hidden" name="post_id" value="{{postit.post_id}}">
                    <label>Date<input type="date" name="date" value="{{postit.date}}" required></label>
                    <label>Texte<textarea name="text" rows=5 cols=40 required>{{postit.text}}</textarea></label>
                    <label>Qui a dit ça ?
                        <select name="owner" size="1" required>
                            {% for user in session.users %}
                                <option>{{user}}
                            {% else %}
                                <option>No owner
                            {% endfor %}
                        </select>
                    </label>
                    <input type="submit" value="Modifier?">
                </form>
        {% endfor %}
    </section>
{% endblock %}
