{% extends "layout.html" %}
{% block main %}
    <form action="{{ url_for('add_post_it') }}" method="post">
        <label>Date<input type=date name=date required></label>
        <label>Texte<textarea name=text rows=5 cols=40 required></textarea></label>
        <label>Qui a dit ça ?
            <select name=owner size="1" required>
                {% for user in session.users %}
                    <option>{{user}}
                {% else %}
                    <option>No owner
                {% endfor %}
            </select>
        </label>
        <input type=submit value=Add>
    </form>
{% endblock %}
