<div class="popup">
    <form action="{{ url_for('add_post_it') }}" method="post">
        <label>Texte<textarea name="text" rows=5 cols=40 required>{{text}}</textarea></label>
        <label>Qui a dit ça ?
            <select name="owner" required>
                {% for user in session.users %}
                    <option value="{{user}}">{{user}}
                {% else %}
                    <option value="">No owner
                {% endfor %}
            </select>
        </label>
        <input type="submit" value=Add>
    </form>
</div>
